/****************************
My Styles
*****************************/


.background-color {
  background: url("ccase87.github.io/toronto-skyline-night-view.png");
  height: 450px;
}

.textcolorwhite {
  color:white;
}
