/****************************
My Styles
*****************************/

body {
  background: #707070 url("ccase87.github.io/download (1).jpeg") no-repeat fixed center;
}

.background-color {
  width: 200%;
  height: 200%;
}

.textcolorwhite {
  color:white;
}
