/****************************
My Styles
*****************************/

html, body{
  margin: 0px;
}
.background-color {
  background: url("ccase87.github.io/toronto-skyline-night-view.png");
  height: 426px;
}

.textcolorwhite {
  color:white;
}
